* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
  background-color: #424242;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}